<div class="screen_container">
    <div class="screen_heading">
        <img src="assets/icons/screen0_heading.png">
    </div>
    <div class="controller_top">
        <div class="select_controller_div">
        <label class="select_controller"> Select a controller to connect </label>
        </div>
        <div class="controller-search-tab-wrap">
            <input type="text" id="search-control" placeholder="Search controllers" /><i class="glyphicon glyphicon-search"></i>
        </div>
    </div>
    <div class="controller-sort-devices">
    <select class="dropdown-sortby" name="sorttype" 
            [(ngModel)]="selectedSortType"
            (ngModelChange)="sortControllers()">
        <option *ngFor="let sortType of sortUITypes" [ngValue]="sortType" [disabled]="sortType =='sort by'">{{sortType}}</option>
    </select>
    </div>
      <div class="controller_content">
          <div class="controller_unit" *ngFor="let ctrl of ctrlUnits" (click)="controllerSelected(ctrl);">
              <div class="controller_image">
                    <img src="assets/icons/placeholder.png" style="width:95%"/>
              </div>
              <div class="controller_details">
                <div class="controller_name">{{ctrl.name}}</div>
                <div class="controller_ip">{{ctrl.ipaddress}}</div>
                <div class="controller_dispname">{{ctrl.displayName}}</div>
              </div>
          </div>
      </div>
      <div class="controller-footer">
            <button class="btn btnabb" >Refresh</button>
            <div class="btngap"></div>
            <button class="btn btn-primary btnabb" *ngIf="data.getSelectedControllerID()!=''" (click)="loginModal.open();">Connect</button>
      </div>
</div>

<modal #loginModal
        modalClass=""
        [hideCloseButton]="false"
        [closeOnEscape]="false"
        [closeOnOutsideClick]="true">

    <modal-content>
        <div class="loginmodal">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <img class="img-thumbnail" src="assets/icons/user_icon.png" width="80%" >
            </div>
            <div class="col-lg-7">
                <div class="login-header">
                Login to Controller
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" value="Default user">
              </div>
              <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" value="robotics">
              </div>
              <div class="form-group">
                  <div class="checkbox">
                    <label><input type="checkbox" value="">Remember Me</label>
                  </div>
              </div>
              <div class="form-group pull-right">
                  <button type="button" class="btn" (click)="login();">{{loginButtonText}}</button>
                  <button type="button" class="btn" (click)="cancelLogin();">Cancel</button>    
              </div>
                
            </div>
        </div>
        </div>

    </modal-content>
        
</modal>