.screen_container{
    position: fixed;
    margin-left: 7%;
    width: 93%;
    height: 75%;
}
.parts_listing{
    width:70%;
    height: 100%;
    display: inline-block;
    margin-left: 2%;
}
.part_details{
    width:25%;
    height: 100%;
    margin-top: 4%;
    display: inline-block;
    vertical-align: top;
    padding-top:2%;
    text-align: center;
    font-size: 25px;
    
}
.part_overview{
    padding: 2%;
    margin: 2%;
    width:23%;
    display: inline-block;
    background-color: black;
    border-radius: 30px;
}
.part_image{
    max-width: 100%;

}
.part_label{
    color:#006FA2;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width:100%;
    display: block;
}
.part_details_header{
    background-color: black;
    color:white;
    font-weight: 600;
    padding-top:10px;
    padding-bottom:10px;
}
.part_details_info{
    padding-top:8px;
    padding-bottom:8px;
}
