<div class="screen_container">
    <div class="screen_tabs">
    <ul class="nav nav-pills">
        <li [class.active]="data.getScreen()==1"><a href="javascript:void(0)">Project</a></li>
        <li [class.active]="data.getScreen()==2"><a href="javascript:void(0)">Stations</a></li>
        <li [class.active]="data.getScreen()==3" (click)="menuItemClick('screen3')"><a href="javascript:void(0)">Parts</a></li>
        <li [class.active]="data.getScreen()==4" (click)="menuItemClick('screen4')"><a href="javascript:void(0)">Gripper</a></li>
    </ul> 
    </div>
     <div class="parts_listing">
         <div class="part_overview">
             <img class="part_image" src="/assets/icons/part1.png"/>
             <label class="part_label">Part 1</label>
         </div>
         <div class="part_overview">
             <img class="part_image" src="/assets/icons/part2.png"/>
             <label class="part_label">Part 2</label>
         </div>
         <div class="part_overview">
             <img class="part_image" src="/assets/icons/part3.png"/>
             <label class="part_label">Part 3</label>
         </div>
         <div class="part_overview">
             <img class="part_image" src="/assets/icons/part4.png"/>
             <label class="part_label">Part 4</label>
         </div>
         <div class="part_overview">
             <img class="part_image" src="/assets/icons/part5.png"/>
             <label class="part_label">Part 5</label>
         </div>
         <div class="part_overview">
             <img class="part_image" src="/assets/icons/part6.png"/>
             <label class="part_label">Part 6</label>
         </div>


     </div>
     <div class="part_details">
         <div class="part_details_header">
             Selected Part
         </div>
         <div class="part_details_info">
             Part 1
         </div>
         <div class="part_details_header">
             Task
         </div>
         <div class="part_details_info">
             T_Rob1
         </div>
         <div class="part_details_header">
             Routine
         </div>
         <div class="part_details_info">
             PR1
         </div>
         <div class="part_details_header">
             Prog. Code
         </div>
         <div class="part_details_info">
             1
         </div>
         <div class="part_details_header">
             Tool Code
         </div>
         <div class="part_details_info">
             1
         </div>
     </div>
</div>