<div class="robo_bottom_menu">
    <img class="robo_stop_prod" *ngIf="getScreen() != 2" src="/assets/icons/stop_prod.png"/>
    <label class="stop_production_text" *ngIf="getScreen() != 2" >Stop production</label>
    <img class="robo_start_prod" *ngIf="getScreen() == 2" src="/assets/icons/start_prod.png"/>
    <label class="start_production_text" *ngIf="getScreen() == 2" >Start</label>
    <img class="robo_stop_prod_screen" *ngIf="getScreen() == 2" src="/assets/icons/stop_prod.png"/>
    <label class="stop_production_text_screen" *ngIf="getScreen() == 2" >Stop</label>
    <label class="set_pp_text" *ngIf="getScreen() == 2" >Set PP to main</label>
</div>