<div class="robo_side_menu">
    <img class="abb_side_heading navigation" src="assets/icons/sidemenu1.png">
    <img class="abb_side_heading screen1" src="assets/icons/sidemenu2.png" (click)="menuItemClick('screen1')">
    <img class="abb_side_heading screen2" src="assets/icons/sidemenu3.png" (click)="menuItemClick('screen2')">
    <img class="abb_side_heading screen3" src="assets/icons/sidemenu4.png" (click)="menuItemClick('screen3')">
    <img class="abb_side_heading screen4" src="assets/icons/sidemenu5.png" (click)="menuItemClick('screen4')">
</div>
