<div class="screen_container">
     <div class="project_listing">
         <div class="project_overview imm">
             <img class="project_image" src="assets/icons/screen2_pic1.png"/>
             <label class="project_label">IMM1 1</label>
         </div>
         <div class="project_overview auto">
             <img class="project_image" src="assets/icons/screen2_pic2.png"/>
             <label class="project_label">AutoInspection</label>
         </div>
         <div class="project_overview conveyor">
             <img class="project_image" src="assets/icons/screen2_pic3.png"/>
             <label class="project_label">Conveyor</label>
         </div>
         <div class="project_overview robot">
             <img class="project_image" src="assets/icons/screen2_pic4.png"/>
             <label class="project_label">Robot</label>
         </div>
     </div>
    <div class="project_details">
         <div class="project_details_header">
             Current Project
         </div>
         <div class="project_details_info">
             Project 1
         </div>
         <div class="project_details_header">
             Current Cycle
         </div>
         <div class="project_details_info">
             Production 1
         </div>
         <div class="project_details_header">
             Next Cycle
         </div>
         <div class="project_details_info">
             Action 1
         </div>
         <div class="project_details_header">
             Selected Part
         </div>
         <div class="project_details_info">
             Part 1
         </div>
     </div>
</div>