<div class="screen_container">
    <div class="screen_tabs">
    <ul class="nav nav-pills">
        <li [class.active]="data.getScreen()==1"><a href="javascript:void(0)">Project</a></li>
        <li [class.active]="data.getScreen()==2"><a href="javascript:void(0)">Stations</a></li>
        <li [class.active]="data.getScreen()==3" (click)="menuItemClick('screen3')"><a href="javascript:void(0)">Parts</a></li>
        <li [class.active]="data.getScreen()==4" (click)="menuItemClick('screen4')"><a href="javascript:void(0)">Gripper</a></li>
    </ul> 
    </div>
     <div class="gripper_listing">
         <div class="gripper_overview">
             <img class="gripper_image" src="/assets/icons/gripper1.png"/>
             <label class="gripper_label">Gripper 1</label>
         </div>
         <div class="gripper_overview">
             <img class="gripper_image" src="/assets/icons/gripper2.png"/>
             <label class="gripper_label">Gripper 2</label>
         </div>
         <div class="gripper_overview">
             <img class="gripper_image" src="/assets/icons/gripper3.png"/>
             <label class="gripper_label">Gripper 3</label>
         </div>
         <div class="gripper_overview">
             <img class="gripper_image" src="/assets/icons/gripper4.png"/>
             <label class="gripper_label">Gripper 4</label>
         </div>
         <div class="gripper_overview">
             <img class="gripper_image" src="/assets/icons/gripper5.png"/>
             <label class="gripper_label">Gripper 5</label>
         </div>
         <div class="gripper_overview">
             <img class="gripper_image" src="/assets/icons/gripper6.png"/>
             <label class="gripper_label">Gripper 6</label>
         </div>


     </div>
     <div class="gripper_details">
         <div class="gripper_details_header">
             Selected Gripper
         </div>
         <div class="gripper_details_info">
             Gripper 1
         </div>
         <div class="gripper_details_header">
             Task
         </div>
         <div class="gripper_details_info">
             T_Rob1
         </div>
         <div class="gripper_details_header">
             Type
         </div>
         <div class="gripper_details_info">
             Type3
         </div>
         <div class="gripper_details_header">
             Valid
         </div>
         <div class="gripper_details_info">
             TRUE
         </div>
         <div class="gripper_details_header">
             Wait Time
         </div>
         <div class="gripper_details_info">
             2
         </div>
     </div>
</div>