<div class="screen_container">
    <div class="abb_robo_screen_content first_screen">
        <div class="abb_robo_info">
            <div class="abb_robo_section first_coloumn">
                <div class="abb_robo_box cycle_time">
                    <label class="abb_robo_box_heading  cycle_time_key"> Cycle Time (sec)</label>
                    <label class="abb_robo_box_value cycle_time_value"> 44 : 32</label>
                </div>
                <div class="abb_robo_box parts">
                    <label class="abb_robo_box_heading parts_key"> # Parts</label>
                    <label class="abb_robo_box_value parts_value"> 487 </label>
                </div>
                <div class="abb_robo_box good_parts">
                    <label class="abb_robo_box_heading good_parts_key"> Good Parts</label>
                    <label class="abb_robo_box_value good_parts_value"> 472 </label>
                </div>
            </div>
            <div class="abb_robo_section second_coloumn">
                <div class="abb_robo_box next_cycle">
                    <label class="abb_robo_box_heading  next_cycle_key"> Next cycle</label>
                    <label class="abb_robo_box_value next_cycle_value"> ACTION1 </label>
                </div>
                <div class="abb_robo_box selected_part">
                    <label class="abb_robo_box_heading selected_part_key"> Selected part </label>
                    <label class="abb_robo_box_value selected_part_value"> Bumper </label>
                </div>
                <div class="abb_robo_box bad_parts">
                    <label class="abb_robo_box_heading bad_parts_key"> Bad Parts</label>
                    <label class="abb_robo_box_value bad_parts_value"> 15 </label>
                </div>
            </div>
        </div>
        <div class="project_details">
         <div class="project_details_header">
             Current Project
         </div>
         <div class="project_details_info">
             Project 1
         </div>
         <div class="project_details_header">
             Current Cycle
         </div>
         <div class="project_details_info">
             Production 1
         </div>
         <div class="project_details_header">
             Next Cycle
         </div>
         <div class="project_details_info">
             Action 1
         </div>
         <div class="project_details_header">
             Selected Part
         </div>
         <div class="project_details_info">
             Part 1
         </div>
     </div>
    </div>
</div>